<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.bus.ConvertInfoMapper">
	<select id="findById" resultType="com.wangzhixuan.model.bus.ConvertInfo">
		select * from convertinfo
		where
		id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="findPageCondition" resultType="com.wangzhixuan.model.bus.ConvertInfo"
		parameterType="PageInfo">
		select * from convertinfo t where 1=1
		<if
			test=" condition.usedepartment != null and condition.usedepartment != '' ">
			t.usedepartment = #{condition.usedepartment}
		</if>
		<if test=" condition.resperson != null ">
			t.resperson = #{condition.resperson}
		</if>
		<if test="condition.model != null">
			t.model = #{condition.model}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
		order by t.updatetime desc
		LIMIT #{from}, #{size}
	</select>

	<select id="findPageCount" resultType="java.lang.Integer"
		parameterType="PageInfo">
		select count(*) count from convertinfo t where 1=1
		<if
			test=" condition.usedepartment != null and condition.usedepartment != '' ">
			t.usedepartment = #{condition.usedepartment}
		</if>
		<if test=" condition.resperson != null ">
			t.resperson = #{condition.resperson}
		</if>
		<if test="condition.model != null">
			t.model = #{condition.model}
		</if>
	</select>

	<select id="findHistoryPageCondition" resultType="com.wangzhixuan.model.bus.ConvertInfo"
		parameterType="PageInfo">
		select
		t.*,c.changedate,u.name as
		change_person,c.bustype as
		bus_type,c.changecontent as change_content,c.applicationno as
		change_no
		from
		convertinfo
		t,change_history c,user u where 1=1
		<if test=" condition.devno != null and condition.devno != '' ">
			AND t.devno = #{condition.devno}
		</if>
		<if test=" condition.mac != null and condition.mac != '' ">
			AND t.mac = #{condition.mac}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
		and t.changeid=c.updatekey and c.applicant=u.id
		order by t.updatetime
		desc
		LIMIT #{from}, #{size}
	</select>

	<select id="findHistoryPageCount" resultType="java.lang.Integer"
		parameterType="PageInfo">
		select count(*) count
		from convertinfo t,change_history c,user u where
		1=1
		<if test=" condition.devno != null and condition.devno != '' ">
			AND t.devno = #{condition.devno}
		</if>
		<if test=" condition.mac != null and condition.mac != '' ">
			AND t.mac = #{condition.mac}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
		and t.changeid=c.updatekey and c.applicant=u.id
	</select>

	<delete id="deleteById" parameterType="java.lang.String">
		delete from convertinfo
		where id =
		#{id,jdbcType=VARCHAR}
	</delete>



	<insert id="insert" parameterType="com.wangzhixuan.model.bus.ConvertInfo">
		insert into convertinfo
		(serialno, devno, assetnumber,
		usedepartment, resperson,
		model,
		configure,displaymodel,hostnumber,diskid,usedate,purpose,
		secequipment,mac,uabnumber,osinstall,roomid,infostatus,remark,status,changeid,updatetime)
		values
		(#{serialno,jdbcType=VARCHAR},
		#{devno,jdbcType=VARCHAR},#{assetnumber,jdbcType=VARCHAR},
		#{usedepartment,jdbcType=VARCHAR},
		#{resperson,jdbcType=VARCHAR},
		#{model,jdbcType=VARCHAR},#{configure,jdbcType=VARCHAR},
		#{displaymodel,jdbcType=VARCHAR},
		#{hostnumber,jdbcType=VARCHAR},
		#{diskid,jdbcType=VARCHAR},
		#{usedate,jdbcType=VARCHAR},
		#{purpose,jdbcType=VARCHAR},
		#{secequipment,jdbcType=VARCHAR},
		#{mac,jdbcType=VARCHAR},
		#{uabnumber,jdbcType=VARCHAR},
		#{osinstall,jdbcType=VARCHAR},
		#{roomid,jdbcType=VARCHAR},
		#{infostatus,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{changeid,jdbcType=VARCHAR},#{updatetime,jdbcType=TIMESTAMP})

	</insert>

	<update id="update" parameterType="com.wangzhixuan.model.bus.ConvertInfo">
		update convertinfo
		<set>
			<if test="serialno != null">
				serialno = #{serialno,jdbcType=VARCHAR},
			</if>
			<if test="devno != null">
				devno = #{devno,jdbcType=VARCHAR},
			</if>
			<if test="assetnumber != null">
				assetnumber = #{assetnumber,jdbcType=VARCHAR},
			</if>
			<if test="usedepartment != null">
				usedepartment = #{usedepartment,jdbcType=VARCHAR},
			</if>
			<if test="resperson != null">
				resperson = #{resperson,jdbcType=VARCHAR},
			</if>
			<if test="model != null">
				model = #{model,jdbcType=VARCHAR},
			</if>
			<if test="configure != null">
				configure = #{configure,jdbcType=VARCHAR},
			</if>
			<if test="displaymodel != null">
				displaymodel = #{displaymodel,jdbcType=VARCHAR},
			</if>
			<if test="hostnumber != null">
				hostnumber = #{hostnumber,jdbcType=VARCHAR},
			</if>
			<if test="diskid != null">
				diskid = #{diskid,jdbcType=VARCHAR},
			</if>
			<if test="usedate != null">
				usedate = #{usedate,jdbcType=VARCHAR},
			</if>
			<if test="purpose != null">
				purpose = #{purpose,jdbcType=VARCHAR},
			</if>
			<if test="secequipment != null">
				secequipment = #{secequipment,jdbcType=VARCHAR},
			</if>
			<if test="mac != null">
				mac = #{mac,jdbcType=VARCHAR},
			</if>
			<if test="uabnumber != null">
				uabnumber = #{uabnumber,jdbcType=VARCHAR},
			</if>
			<if test="osinstall != null">
				osinstall = #{osinstall,jdbcType=VARCHAR},
			</if>
			<if test="roomid != null">
				roomid = #{roomid,jdbcType=VARCHAR},
			</if>
			<if test="infostatus != null">
				infostatus = #{infostatus,jdbcType=VARCHAR},
			</if>

			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="changeid != null">
				changeid = #{changeid,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>