<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.bus.InternetInfoMapper">
	<resultMap id="BaseResultMap" type="com.wangzhixuan.model.bus.InternetInfo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="region" property="region" jdbcType="VARCHAR" />
		<result column="number" property="number" jdbcType="VARCHAR" />
		<result column="roomnum" property="roomnum" jdbcType="VARCHAR" />
		<result column="infodevno" property="infodevno" jdbcType="VARCHAR" />
		<result column="newassertsno" property="newassertsno" jdbcType="VARCHAR" />
		<result column="resdepart" property="resdepart" jdbcType="VARCHAR" />
		<result column="resperson" property="resperson" jdbcType="VARCHAR" />
		<result column="devbrand" property="devbrand" jdbcType="VARCHAR" />
		<result column="devno" property="devno" jdbcType="VARCHAR" />
		<result column="serialno" property="serialno" jdbcType="VARCHAR" />
		<result column="usedate" property="usedate" jdbcType="TIMESTAMP" />
		<result column="devseculevel" property="devseculevel" jdbcType="VARCHAR" />
		<result column="usemethod" property="usemethod" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="printhostip" property="printhostip" jdbcType="VARCHAR" />
		<result column="printmac" property="printmac" jdbcType="VARCHAR" />
		<result column="printport" property="printport" jdbcType="VARCHAR" />
		<result column="patchpanel" property="patchpanel" jdbcType="VARCHAR" />
		<result column="payhostip" property="payhostip" jdbcType="VARCHAR" />
		<result column="payport" property="payport" jdbcType="VARCHAR" />
		<result column="paymac" property="paymac" jdbcType="VARCHAR" />
		<result column="park" property="park" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, region, number, roomnum, infodevno, newassertsno,
		resdepart, resperson,devbrand,devno,serialno,usedate,devseculevel,
		usemethod,status,printhostip,printmac,printport,patchpanel,payhostip,payport,paymac,park
	</sql>
	<select id="findById" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from internetinfo
		where id = #{id,jdbcType=VARCHAR}
	</select>




	<select id="findPageCondition" resultMap="BaseResultMap"
		parameterType="PageInfo">
		select
		<include refid="Base_Column_List" />
		from internetinfo t
		<where>
			<if test=" condition.resdepart != null and condition.resdepart != '' ">
				t.resdepart = #{condition.resdepart}
			</if>
			<if test=" condition.resperson != null ">
				t.resperson = #{condition.resperson}
			</if>
			<if test="condition.devno != null">
				t.devno = #{condition.devno}
			</if>
		</where>
		LIMIT #{from}, #{size}
	</select>

	<select id="findPageCount" resultType="java.lang.Integer"
		parameterType="PageInfo">
		select count(*) count
		from internetinfo t
		<where>
			<if test=" condition.resdepart != null and condition.resdepart != '' ">
				t.resdepart = #{condition.resdepart}
			</if>
			<if test=" condition.resperson != null ">
				t.resperson = #{condition.resperson}
			</if>
			<if test="condition.devno != null">
				t.devno = #{condition.devno}
			</if>
		</where>
	</select>

	<delete id="deleteById" parameterType="java.lang.String">
		delete from internetinfo
		where id =
		#{id,jdbcType=VARCHAR}
	</delete>


	<insert id="insert" parameterType="com.wangzhixuan.model.bus.InternetInfo">
		insert into internetinfo
		(region, number, roomnum, infodevno, newassertsno,
		resdepart,
		resperson,devbrand,devno,serialno,usedate,devseculevel,
		usemethod,status,printhostip,printmac,printport,patchpanel,payhostip,payport,paymac,park)
		values
		(#{region,jdbcType=VARCHAR},
		#{number,jdbcType=VARCHAR},#{roomnum,jdbcType=VARCHAR},
		#{infodevno,jdbcType=VARCHAR}, #{newassertsno,jdbcType=VARCHAR},
		#{resdepart,jdbcType=VARCHAR},
		#{resperson,jdbcType=VARCHAR},
		#{devbrand,jdbcType=VARCHAR}, #{devno,jdbcType=VARCHAR},
		#{serialno,jdbcType=VARCHAR}, #{usedate,jdbcType=TIMESTAMP},
		#{devseculevel,jdbcType=VARCHAR},
		#{usemethod,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR}, #{printhostip,jdbcType=VARCHAR},
		#{printmac,jdbcType=VARCHAR}, #{printport,jdbcType=VARCHAR},
		#{patchpanel,jdbcType=VARCHAR},
		#{payhostip,jdbcType=VARCHAR},
		#{payport,jdbcType=TIMESTAMP}, #{paymac,jdbcType=VARCHAR},
		#{park,jdbcType=VARCHAR})
	</insert>


	<update id="update" parameterType="com.wangzhixuan.model.bus.InternetInfo">
		update internetinfo
		<set>
			<if test="region != null">
				region = #{region,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				number = #{number,jdbcType=VARCHAR},
			</if>
			<if test="roomnum != null">
				roomnum = #{roomnum,jdbcType=VARCHAR},
			</if>
			<if test="infodevno != null">
				infodevno = #{infodevno,jdbcType=VARCHAR},
			</if>
			<if test="newassertsno != null">
				newassertsno = #{newassertsno,jdbcType=VARCHAR},
			</if>
			<if test="resdepart != null">
				resdepart = #{resdepart,jdbcType=VARCHAR},
			</if>
			<if test="resperson != null">
				resperson = #{resperson,jdbcType=VARCHAR},
			</if>
			<if test="devbrand != null">
				devbrand = #{devbrand,jdbcType=VARCHAR},
			</if>
			<if test="devno != null">
				devno = #{devno,jdbcType=VARCHAR},
			</if>
			<if test="serialno != null">
				serialno = #{serialno,jdbcType=VARCHAR},
			</if>
			<if test="usedate != null">
				usedate = #{usedate,jdbcType=TIMESTAMP},
			</if>
			<if test="devseculevel != null">
				devseculevel = #{devseculevel,jdbcType=VARCHAR},
			</if>
			<if test="usemethod != null">
				usemethod = #{usemethod,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="printhostip != null">
				printhostip = #{printhostip,jdbcType=VARCHAR},
			</if>
			<if test="printmac != null">
				printmac = #{printmac,jdbcType=VARCHAR},
			</if>
			<if test="printport != null">
				printport = #{printport,jdbcType=VARCHAR},
			</if>
			<if test="patchpanel != null">
				patchpanel = #{patchpanel,jdbcType=VARCHAR},
			</if>
			<if test="payhostip != null">
				payhostip = #{payhostip,jdbcType=VARCHAR},
			</if>
			<if test="payport != null">
				payport = #{payport,jdbcType=TIMESTAMP},
			</if>
			<if test="paymac != null">
				paymac = #{paymac,jdbcType=VARCHAR},
			</if>
			<if test="park != null">
				park = #{park,jdbcType=VARCHAR},
			</if>
			
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>