<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.bus.InternetInfoMapper">

	<select id="findById" resultType="com.wangzhixuan.model.bus.InternetInfo">
		select * from internetinfo
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="findPageCondition" resultType="com.wangzhixuan.model.bus.InternetInfo"
		parameterType="PageInfo">
		select t.id,t.region, t.number,t.roomnum,t.infodevno,
		t.newassertsno,o.name as resdepart,u.name as resperson,t.devbrand,t.devno,
		t.serialno,t.usedate,t.devseculevel,t.usemethod,t.infostatus,t.printhostip,t.printmac,
		t.printport,t.patchpanel,t.payhostip,t.payport,t.paymac,t.park,t.status
		from internetinfo t ,user u,organization o where t.resperson=u.id and t.resdepart=o.id
		<if test=" condition.resdepart != null and condition.resdepart != '' ">
			and t.resdepart = #{condition.resdepart}
		</if>
		<if test=" condition.resperson != null ">
			and t.resperson = #{condition.resperson}
		</if>
		<if test="condition.devno != null">
			and t.devno = #{condition.devno}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
		order by t.updatetime desc
		LIMIT #{from}, #{size}
	</select>

	<select id="findPageCount" resultType="java.lang.Integer"
		parameterType="PageInfo">
		select count(*) count
		from internetinfo t where 1=1
		<if test=" condition.resdepart != null and condition.resdepart != '' ">
			and t.resdepart = #{condition.resdepart}
		</if>
		<if test=" condition.resperson != null ">
			and t.resperson = #{condition.resperson}
		</if>
		<if test="condition.devno != null">
			and t.devno = #{condition.devno}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
	</select>

	<select id="findHistoryPageCondition" resultType="com.wangzhixuan.model.bus.InternetInfo"
		parameterType="PageInfo">
		select
		t.id,t.region, t.number,t.roomnum,t.infodevno,
		t.newassertsno,o.name as resdepart,u.name as resperson,t.devbrand,t.devno,
		t.serialno,t.usedate,t.devseculevel,t.usemethod,t.infostatus,t.printhostip,t.printmac,
		t.printport,t.patchpanel,t.payhostip,t.payport,t.paymac,t.park,t.status,c.changedate,u.name as
		change_person,c.bustype as bus_type,c.changecontent as change_content,c.applicationno as
		change_no from internetinfo t,change_history c,user u ,organization o where t.resperson=u.id and t.resdepart=o.id
		<if test=" condition.devno != null and condition.devno != '' ">
			AND t.devno = #{condition.devno}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
		and t.changeid=c.updatekey and c.applicant=u.id
		order by t.updatetime
		desc
		LIMIT #{from}, #{size}
	</select>

	<select id="findHistoryPageCount" resultType="java.lang.Integer"
		parameterType="PageInfo">
		select count(*) count
		from internetinfo t,change_history c,user u where
		1=1
		<if test=" condition.devno != null and condition.devno != '' ">
			AND t.devno = #{condition.devno}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
		and t.changeid=c.updatekey and c.applicant=u.id
	</select>

	<delete id="deleteById" parameterType="java.lang.String">
		delete from internetinfo
		where id =
		#{id,jdbcType=VARCHAR}
	</delete>


	<insert id="insert" parameterType="com.wangzhixuan.model.bus.InternetInfo">
		insert into internetinfo
		(region, number, roomnum,
		infodevno, newassertsno,
		resdepart,
		resperson,devbrand,devno,serialno,usedate,devseculevel,
		usemethod,infostatus,printhostip,printmac,printport,patchpanel,payhostip,payport,paymac,park,status,changeid,updatetime)
		values
		(#{region,jdbcType=VARCHAR},
		#{number,jdbcType=VARCHAR},#{roomnum,jdbcType=VARCHAR},
		#{infodevno,jdbcType=VARCHAR}, #{newassertsno,jdbcType=VARCHAR},
		#{resdepart,jdbcType=VARCHAR},
		#{resperson,jdbcType=VARCHAR},
		#{devbrand,jdbcType=VARCHAR}, #{devno,jdbcType=VARCHAR},
		#{serialno,jdbcType=VARCHAR}, #{usedate,jdbcType=VARCHAR},
		#{devseculevel,jdbcType=VARCHAR},
		#{usemethod,jdbcType=VARCHAR},
		#{infostatus,jdbcType=VARCHAR}, #{printhostip,jdbcType=VARCHAR},
		#{printmac,jdbcType=VARCHAR}, #{printport,jdbcType=VARCHAR},
		#{patchpanel,jdbcType=VARCHAR},
		#{payhostip,jdbcType=VARCHAR},
		#{payport,jdbcType=VARCHAR}, #{paymac,jdbcType=VARCHAR},
		#{park,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{changeid,jdbcType=VARCHAR},#{updatetime,jdbcType=VARCHAR})
	</insert>


	<update id="update" parameterType="com.wangzhixuan.model.bus.InternetInfo">
		update internetinfo
		<set>
			<if test="region != null">
				region = #{region,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				number = #{number,jdbcType=VARCHAR},
			</if>
			<if test="roomnum != null">
				roomnum = #{roomnum,jdbcType=VARCHAR},
			</if>
			<if test="infodevno != null">
				infodevno = #{infodevno,jdbcType=VARCHAR},
			</if>
			<if test="newassertsno != null">
				newassertsno = #{newassertsno,jdbcType=VARCHAR},
			</if>
			<if test="resdepart != null">
				resdepart = #{resdepart,jdbcType=VARCHAR},
			</if>
			<if test="resperson != null">
				resperson = #{resperson,jdbcType=VARCHAR},
			</if>
			<if test="devbrand != null">
				devbrand = #{devbrand,jdbcType=VARCHAR},
			</if>
			<if test="devno != null">
				devno = #{devno,jdbcType=VARCHAR},
			</if>
			<if test="serialno != null">
				serialno = #{serialno,jdbcType=VARCHAR},
			</if>
			<if test="usedate != null">
				usedate = #{usedate,jdbcType=VARCHAR},
			</if>
			<if test="devseculevel != null">
				devseculevel = #{devseculevel,jdbcType=VARCHAR},
			</if>
			<if test="usemethod != null">
				usemethod = #{usemethod,jdbcType=VARCHAR},
			</if>
			<if test="infostatus != null">
				infostatus = #{infostatus,jdbcType=VARCHAR},
			</if>
			<if test="printhostip != null">
				printhostip = #{printhostip,jdbcType=VARCHAR},
			</if>
			<if test="printmac != null">
				printmac = #{printmac,jdbcType=VARCHAR},
			</if>
			<if test="printport != null">
				printport = #{printport,jdbcType=VARCHAR},
			</if>
			<if test="patchpanel != null">
				patchpanel = #{patchpanel,jdbcType=VARCHAR},
			</if>
			<if test="payhostip != null">
				payhostip = #{payhostip,jdbcType=VARCHAR},
			</if>
			<if test="payport != null">
				payport = #{payport,jdbcType=VARCHAR},
			</if>
			<if test="paymac != null">
				paymac = #{paymac,jdbcType=VARCHAR},
			</if>
			<if test="park != null">
				park = #{park,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=VARCHAR},
			</if>
			<if test="changeid != null">
				changeid = #{changeid,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>