<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.bus.SecProductMapper">

	<select id="findById" resultType="com.wangzhixuan.model.bus.SecurityProductInfo">
		select
		*
		from secproductinfo
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="findPageCondition" resultType="com.wangzhixuan.model.bus.SecurityProductInfo"
		parameterType="PageInfo">
		select
		*
		from secproductinfo t
		<where>
			<if test=" condition.depname != null and condition.depname != '' ">
				t.depname = #{condition.depname}
			</if>
			<if test=" condition.resperson != null ">
				t.resperson = #{condition.resperson}
			</if>

		</where>
		LIMIT #{from}, #{size}
	</select>

	<select id="findPageCount" resultType="java.lang.Integer" parameterType="PageInfo">
		select count(*) count
		from secproductinfo t
		<where>
			<if test=" condition.depname != null and condition.depname != '' ">
				t.depname = #{condition.depname}
			</if>
			<if test=" condition.resperson != null ">
				t.resperson = #{condition.resperson}
			</if>

		</where>
	</select>

	<delete id="deleteById" parameterType="java.lang.String">
		delete from secproductinfo
		where id =
		#{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.wangzhixuan.model.bus.SecurityProductInfo">
		insert into secproductinfo
		(depname, resperson,
		securitylevel,
		newname, switchbrand,
		factoryno,
		switchip,switchmac,location,port,patchpanel,purpose,
		status,region,remark)
		values
		(#{depname,jdbcType=VARCHAR},
		#{resperson,jdbcType=VARCHAR},#{securitylevel,jdbcType=VARCHAR},
		#{newname,jdbcType=VARCHAR},
		#{switchbrand,jdbcType=VARCHAR},
		#{factoryno,jdbcType=VARCHAR},
		#{switchip,jdbcType=VARCHAR},
		#{switchmac,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR},
		#{port,jdbcType=VARCHAR},#{patchpanel,jdbcType=VARCHAR},#{purpose,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{region,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR})
	</insert>


	<update id="update" parameterType="com.wangzhixuan.model.bus.SecurityProductInfo">
		update secproductinfo
		<set>
			<if test="depname != null">
				depname = #{depname,jdbcType=VARCHAR},
			</if>
			<if test="resperson != null">
				resperson = #{resperson,jdbcType=VARCHAR},
			</if>
			<if test="securitylevel != null">
				securitylevel = #{securitylevel,jdbcType=VARCHAR},
			</if>
			<if test="newname != null">
				newname = #{newname,jdbcType=VARCHAR},
			</if>
			<if test="switchbrand != null">
				switchbrand = #{switchbrand,jdbcType=VARCHAR},
			</if>
			<if test="factoryno != null">
				factoryno = #{factoryno,jdbcType=VARCHAR},
			</if>
			<if test="switchip != null">
				switchip = #{switchip,jdbcType=VARCHAR},
			</if>
			<if test="switchmac != null">
				switchmac = #{switchmac,jdbcType=VARCHAR},
			</if>
			<if test="location != null">
				location = #{location,jdbcType=VARCHAR},
			</if>
			<if test="port != null">
				port = #{port,jdbcType=VARCHAR},
			</if>
			<if test="patchpanel != null">
				patchpanel = #{patchpanel,jdbcType=VARCHAR},
			</if>
			<if test="purpose != null">
				purpose = #{purpose,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="region != null">
				region = #{region,jdbcType=VARCHAR},
			</if>

			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>

		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>