<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.bus.SwitchInfoMapper">

	<select id="findById" resultType="com.wangzhixuan.model.bus.SwitchInfo">
		select
		*
		from switchinfo
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="findPageCondition" resultType="com.wangzhixuan.model.bus.SwitchInfo"
		parameterType="PageInfo">
		select
		*
		from switchinfo t where 1=1
		<if test=" condition.depname != null and condition.depname != '' ">
			and t.depname = #{condition.depname}
		</if>
		<if test=" condition.resperson != null ">
			and t.resperson = #{condition.resperson}
		</if>
		<if test="condition.devname != null">
			and t.devname = #{condition.devname}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
		order by t.updatetime desc
		LIMIT #{from}, #{size}
	</select>

	<select id="findPageCount" resultType="java.lang.Integer" parameterType="PageInfo">
		select count(*) count
		from switchinfo t
		where 1=1
		<if test=" condition.depname != null and condition.depname != '' ">
			and t.depname = #{condition.depname}
		</if>
		<if test=" condition.resperson != null ">
			and t.resperson = #{condition.resperson}
		</if>
		<if test="condition.devname != null">
			and t.devname = #{condition.devname}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
	</select>
	<select id="findHistoryPageCondition" resultType="com.wangzhixuan.model.bus.SwitchInfo"
		parameterType="PageInfo">
		select
		t.*,c.changedate,u.name as
		change_person,c.bustype as bus_type,c.changecontent as change_content,c.applicationno as change_no
		from
		switchinfo
		t,change_history c,user u where 1=1
		<if test=" condition.devno != null and condition.devno != '' ">
			AND t.devno = #{condition.devno}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
		and t.changeid=c.updatekey and c.applicant=u.id
		order by t.updatetime desc
		LIMIT #{from}, #{size}
	</select>

	<select id="findHistoryPageCount" resultType="java.lang.Integer" parameterType="PageInfo">
		select count(*) count
		from switchinfo t,change_history c,user u where 1=1
	<if test=" condition.devno != null and condition.devno != '' ">
			AND t.devno = #{condition.devno}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
		and t.changeid=c.updatekey and c.applicant=u.id
	</select>
	<delete id="deleteById" parameterType="java.lang.String">
		delete from switchinfo
		where id =
		#{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.wangzhixuan.model.bus.SwitchInfo">
		insert into switchinfo
		(region, certifno, depname,
		resperson, devname,
		ip,
		mac,model,equipment,informpoint,termachtype,termachpurpose,
		devno,os,osinstaltime,seclevel,location,diskno,antiviruscomp,hostaudit,medmanager,cardid,cardmac,cardinfo,infostatus,remark,status,changeid,updatetime)
		values
		(#{region,jdbcType=VARCHAR},
		#{certifno,jdbcType=VARCHAR},#{depname,jdbcType=VARCHAR},
		#{resperson,jdbcType=VARCHAR}, #{devname,jdbcType=VARCHAR},
		#{ip,jdbcType=VARCHAR},
		#{mac,jdbcType=VARCHAR},
		#{model,jdbcType=VARCHAR}, #{equipment,jdbcType=VARCHAR},
		#{informpoint,jdbcType=VARCHAR}, #{termachtype,jdbcType=VARCHAR},
		#{termachpurpose,jdbcType=VARCHAR},
		#{devno,jdbcType=VARCHAR},
		#{os,jdbcType=VARCHAR},
		#{osinstaltime,jdbcType=VARCHAR},
		#{seclevel,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR},
		#{diskno,jdbcType=VARCHAR},
		#{antiviruscomp,jdbcType=VARCHAR},
		#{hostaudit,jdbcType=VARCHAR},
		#{medmanager,jdbcType=VARCHAR},
		#{cardid,jdbcType=VARCHAR}, #{cardmac,jdbcType=VARCHAR},
		#{cardinfo,jdbcType=VARCHAR},
		#{infostatus,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{changeid,jdbcType=VARCHAR},#{updatetime,jdbcType=VARCHAR})
	</insert>


	<update id="update" parameterType="com.wangzhixuan.model.bus.SwitchInfo">
		update switchinfo
		<set>
			<if test="region != null">
				region = #{region,jdbcType=VARCHAR},
			</if>
			<if test="certifno != null">
				certifno = #{certifno,jdbcType=VARCHAR},
			</if>
			<if test="depname != null">
				depname = #{depname,jdbcType=VARCHAR},
			</if>
			<if test="resperson != null">
				resperson = #{resperson,jdbcType=VARCHAR},
			</if>
			<if test="devname != null">
				devname = #{devname,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="mac != null">
				mac = #{mac,jdbcType=VARCHAR},
			</if>
			<if test="model != null">
				model = #{model,jdbcType=VARCHAR},
			</if>
			<if test="equipment != null">
				equipment = #{equipment,jdbcType=VARCHAR},
			</if>
			<if test="informpoint != null">
				informpoint = #{informpoint,jdbcType=VARCHAR},
			</if>
			<if test="termachtype != null">
				termachtype = #{termachtype,jdbcType=VARCHAR},
			</if>
			<if test="termachpurpose != null">
				termachpurpose = #{termachpurpose,jdbcType=VARCHAR},
			</if>
			<if test="devno != null">
				devno = #{devno,jdbcType=VARCHAR},
			</if>
			<if test="os != null">
				os = #{os,jdbcType=VARCHAR},
			</if>
			<if test="osinstaltime != null">
				osinstaltime = #{osinstaltime,jdbcType=VARCHAR},
			</if>
			<if test="seclevel != null">
				seclevel = #{seclevel,jdbcType=VARCHAR},
			</if>
			<if test="location != null">
				location = #{location,jdbcType=VARCHAR},
			</if>
			<if test="diskno != null">
				diskno = #{diskno,jdbcType=VARCHAR},
			</if>
			<if test="antiviruscomp != null">
				antiviruscomp = #{antiviruscomp,jdbcType=VARCHAR},
			</if>
			<if test="hostaudit != null">
				hostaudit = #{hostaudit,jdbcType=VARCHAR},
			</if>
			<if test="medmanager != null">
				medmanager = #{medmanager,jdbcType=VARCHAR},
			</if>
			<if test="cardid != null">
				cardid = #{cardid,jdbcType=VARCHAR},
			</if>
			<if test="cardmac != null">
				cardmac = #{cardmac,jdbcType=VARCHAR},
			</if>
			<if test="cardinfo != null">
				cardinfo = #{cardinfo,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="infostatus != null">
				infostatus = #{infostatus,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=VARCHAR},
			</if>
			<if test="changeid != null">
				changeid = #{changeid,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>