<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.bus.UnsecHostInfoMapper">

	<select id="findById" resultType="com.wangzhixuan.model.bus.UnsecurityHostInfo">
		select
		*
		from unsechostinfo
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="findPageCondition" resultType="com.wangzhixuan.model.bus.UnsecurityHostInfo"
		parameterType="PageInfo">
		select t.id,t.informdevno,o.name as departname,u.name as resperson,t.seclevel,t.assetsno,t.assersown,t.equipmentno,t.devno,t.diskno,t.specification,t.starttime,t.ipaddress,
		t.mac,t.location,t.osversion,t.osinstaltime,t.surfcertif,t.usestatus,t.remark,t.status
		 from unsechostinfo t,user u,organization o where t.resperson=u.id and t.departname=o.id
		<if test=" condition.departname != null and condition.departname != '' ">
			and t.departname = #{condition.departname}
		</if>
		<if test=" condition.resperson != null ">
			and t.resperson = #{condition.resperson}
		</if>
		<if test="condition.informdevno != null">
			and t.informdevno = #{condition.informdevno}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
		order by t.updatetime desc
		LIMIT #{from}, #{size}
	</select>

	<select id="findPageCount" resultType="java.lang.Integer" parameterType="PageInfo">
		select count(*) count
		from unsechostinfo t
		where 1=1
		<if test=" condition.departname != null and condition.departname != '' ">
			and t.departname = #{condition.departname}
		</if>
		<if test=" condition.resperson != null ">
			and t.resperson = #{condition.resperson}
		</if>
		<if test="condition.informdevno != null">
			and t.informdevno = #{condition.informdevno}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
	</select>
	<select id="findHistoryPageCondition" resultType="com.wangzhixuan.model.bus.UnsecurityHostInfo"
		parameterType="PageInfo">
		select t.id,t.informdevno,o.name as departname,u.name as resperson,t.seclevel,t.assetsno,t.assersown,t.equipmentno,t.devno,t.diskno,t.specification,t.starttime,t.ipaddress,
		t.mac,t.location,t.osversion,t.osinstaltime,t.surfcertif,t.usestatus,t.remark,t.status,c.changedate,u.name as
		change_person,c.bustype as bus_type,c.changecontent as change_content,c.applicationno as change_no
		from
		unsechostinfo
		t,change_history c,user u ,organization o where t.resperson=u.id and t.departname=o.id
		<if test=" condition.devno != null and condition.devno != '' ">
			AND t.devno = #{condition.devno}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
		and t.changeid=c.updatekey and c.applicant=u.id
		order by t.updatetime desc
		LIMIT #{from}, #{size}
	</select>

	<select id="findHistoryPageCount" resultType="java.lang.Integer" parameterType="PageInfo">
		select count(*) count
		from unsechostinfo t,change_history c,user u where 1=1
		<if test=" condition.devno != null and condition.devno != '' ">
			AND t.devno = #{condition.devno}
		</if>
		<if test=" condition.status != null and condition.status != '' ">
			AND t.status = #{condition.status}
		</if>
		and t.changeid=c.updatekey and c.applicant=u.id
	</select>
	<delete id="deleteById" parameterType="java.lang.String">
		delete from unsechostinfo
		where id =
		#{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.wangzhixuan.model.bus.UnsecurityHostInfo">
		insert into unsechostinfo
		(informdevno, departname,
		resperson,
		seclevel, assetsno,
		assersown,
		equipmentno,devno,diskno,specification,starttime,ipaddress,
		mac,location,osversion,osinstaltime,surfcertif,usestatus,remark,status,changeid,updatetime)
		values
		(#{informdevno,jdbcType=VARCHAR},
		#{departname,jdbcType=VARCHAR},#{resperson,jdbcType=VARCHAR},
		#{seclevel,jdbcType=VARCHAR}, #{assetsno,jdbcType=VARCHAR},
		#{assersown,jdbcType=VARCHAR},
		#{equipmentno,jdbcType=VARCHAR},
		#{devno,jdbcType=VARCHAR}, #{diskno,jdbcType=VARCHAR},
		#{specification,jdbcType=VARCHAR}, #{starttime,jdbcType=VARCHAR},
		#{ipaddress,jdbcType=VARCHAR},
		#{mac,jdbcType=VARCHAR},
		#{location,jdbcType=VARCHAR}, #{osversion,jdbcType=VARCHAR},
		#{osinstaltime,jdbcType=VARCHAR}, #{surfcertif,jdbcType=VARCHAR},
		#{usestatus,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{changeid,jdbcType=VARCHAR},#{updatetime,jdbcType=VARCHAR})
	</insert>


	<update id="update" parameterType="com.wangzhixuan.model.bus.UnsecurityHostInfo">
		update unsechostinfo
		<set>
			<if test="informdevno != null">
				informdevno = #{informdevno,jdbcType=VARCHAR},
			</if>
			<if test="departname != null">
				departname = #{departname,jdbcType=VARCHAR},
			</if>
			<if test="resperson != null">
				resperson = #{resperson,jdbcType=VARCHAR},
			</if>
			<if test="seclevel != null">
				seclevel = #{seclevel,jdbcType=VARCHAR},
			</if>
			<if test="assetsno != null">
				assetsno = #{assetsno,jdbcType=VARCHAR},
			</if>
			<if test="assersown != null">
				assersown = #{assersown,jdbcType=VARCHAR},
			</if>
			<if test="equipmentno != null">
				equipmentno = #{equipmentno,jdbcType=VARCHAR},
			</if>
			<if test="devno != null">
				devno = #{devno,jdbcType=VARCHAR},
			</if>
			<if test="diskno != null">
				diskno = #{diskno,jdbcType=VARCHAR},
			</if>
			<if test="specification != null">
				specification = #{specification,jdbcType=VARCHAR},
			</if>
			<if test="starttime != null">
				starttime = #{starttime,jdbcType=VARCHAR},
			</if>
			<if test="ipaddress != null">
				ipaddress = #{ipaddress,jdbcType=VARCHAR},
			</if>
			<if test="mac != null">
				mac = #{mac,jdbcType=VARCHAR},
			</if>
			<if test="location != null">
				location = #{location,jdbcType=VARCHAR},
			</if>
			<if test="osversion != null">
				osversion = #{osversion,jdbcType=VARCHAR},
			</if>
			<if test="osinstaltime != null">
				osinstaltime = #{osinstaltime,jdbcType=VARCHAR},
			</if>
			<if test="surfcertif != null">
				surfcertif = #{surfcertif,jdbcType=VARCHAR},
			</if>
			<if test="usestatus != null">
				usestatus = #{usestatus,jdbcType=VARCHAR},
			</if>

			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=VARCHAR},
			</if>
			<if test="changeid != null">
				changeid = #{changeid,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>