<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.collection.WarnUsbInfoMapper">

	<select id="findPageCondition" resultType="com.wangzhixuan.model.collection.WarnUsbInfo"
		parameterType="PageInfo">
		SELECT t.*, c.depname,c.resperson
		FROM warnusbinfo t,computermanage c
		WHERE t.mac = c.mac AND t.ip = c.ipaddress AND t.serialNumber =
		c.diskno
		<if test=" condition.status != null and condition.status != '' ">
			and t.status = #{condition.status}
		</if>
		GROUP BY t.ip, t.mac, t.serialNumber
		LIMIT #{from}, #{size}
	</select>

	<select id="findPageCount" resultType="java.lang.Integer"
		parameterType="PageInfo">
		select count(*) count
		FROM (SELECT t.*, c.depname,c.resperson
		FROM
		warnusbinfo t,computermanage c
		WHERE t.mac = c.mac AND t.ip =
		c.ipaddress AND t.serialNumber =
		c.diskno
		<if test=" condition.status != null and condition.status != '' ">
			and t.status = #{condition.status}
		</if>
		GROUP BY t.ip, t.mac, t.serialNumber) a
	</select>
</mapper>